<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aarcosg.copdhelp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".COPDHelpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MedicalAttentionActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.BMIActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.SmokeActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.ExerciseActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.COPDPSActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.COPDCATActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.COPDBODEActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.COPDBODEXActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.GuideBreathingTherapyActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.GuideWhatIsCOPDActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.GuideLivingBetterActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.AchievementActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.YoutubePlayerActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.activity.AppIntroActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_fragment_settings"
            android:parentActivityName=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <receiver
            android:name=".receiver.MedicineReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver android:name=".receiver.MedicineTakenBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.aarcosg.copdhelp.ACTION_TAKE_MEDICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.OnBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.COPDHelpService"
            android:exported="false" />

    </application>

</manifest>